<h1> Choose Server Options </h1>

<div class = "select">
    <select name ="format" id = "format">

        <option selected disabled "">Choose an Image </option>option>
        {%- for image in images %}
        <option value={{image.id}}>{{image.name}}</option>{{ line -}}
        {% endfor %}
    </select>
    <select name2 ="format" id = "format">
        <option selected disabled "">Choose network </option>option>
        {%- for image in images %}
        <option value={{image.id}}>{{image.name}}</option>{{ line -}}
        {% endfor %}
        
      
    </select>

    <select name3 ="format" id = "format">
        <option selected disabled "">Choose a flavour</option>option>
        {%- for image in images %}
        <option value={{image.id}}>{{image.name}}</option>{{ line -}}
        {% endfor %}
    </select>

    <select name4 ="format" id = "format">
        <option selected disabled "">Choose a KeyPair</option>option>
        {%- for image in images %}
        <option value={{image.id}}>{{image.name}}</option>{{ line -}}
        {% endfor %}
       
    </select>

    <select name5 ="format" id = "format">
        <option selected disabled "">Choose a security Group </option>option>
        {%- for image in images %}
        <option value={{image.id}}>{{image.name}}</option>{{ line -}}
        {% endfor %}
       
    </select>




</div>
